{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center middle containers">
      <div class="phone-border">
          <img src="{{ asset(user.getCoverImage) }}" class="cover-img">
          <div class="cell auto text-center">
              <img src="{{ asset(user.getImagePath) }}" class="profile-picture" alt="Profile Image">
              <a>
                  <img src="https://i.ibb.co/72VGttY/bookmark-icon.png" class="bookmark-icon">
              </a>
          </div>
          <div class="cell auto text-center">
              <p class="profile-font profile-info-name">{{ user.firstname }} {{ user.lastname }}</p>
              <p class="profile-font profile-info-title">{{ user.jobTitle }}</p>
          </div>
          <div class="cell auto text-center">
              <button class="share-btn onclick="shareContent()"">
                  <img src="https://i.ibb.co/C0kK58X/share-icon.png" class="share-btn-pic"> Share
              </button>
          </div>
          <div class="cell auto text-center">
              <div class="border-line"></div>
          </div>
          <nav>
              <div class="links">
                  <div class="cell auto text-center">
                    <a data-active="personal" href="{{ path('app_viewprofilepersonal', {'id': user.id}) }}">Personal</a>
                    <a data-active="company" href="{{ path('app_viewprofile', {'id': user.id}) }}">Company</a>
                    <a data-active="qr" href="{{ path('app_viewprofileqr', {'id': user.id}) }}">QR Code</a>
                  </div><br>
              </div>
          </nav>

          <div class="qr-border">
            <img src="https://i.ibb.co/dPxJZxf/qr-icon.png" class="qr-pic">
          </div>
          <p class="scan-text">SCAN HERE</p>
    
          <img src="https://i.ibb.co/5Fdk2TP/footer-background.png" class="footer-img">

          <img src="https://i.ibb.co/5Fdk2TP/footer-background.png" class="footer-img">
      </div>
  </div>
</div>

<script>
        function shareContent() {
          if (navigator.share) {
            navigator.share({
              title: 'Share this Profile Card',
              text: 'Check out this content!',
              url: 'https://example.com'
            })
            .then(() => console.log('Successful share'))
            .catch((error) => console.log('Error sharing:', error));
          } else {
            // Fallback if the Web Share API is not supported
            alert('Sharing not supported on this device.');
          }
        }
</script>

<style>
  .containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-border {
    width: 430px;
    height: 800px;
    box-sizing: border-box;
    border: 1px groove #b6b6b6;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.cover-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 150px;
}

a {
  text-decoration: none;
}

.footer-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bookmark-icon {
    width: 30px;
    height: 30px;
    margin-left: -20%;
    margin-top: 3%;
    float: right;
    margin-right: 10px;
}

.bookmark-icon:hover {
    transform: scale(1.1);
}

@media (max-width: 270px) {
    .bookmark-icon {
        width: 20px;
        height: 20px;
        margin-left: -40%;
        margin-top: 3%;
        margin-right: 10px;
        float: right;
    }
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    margin-top: -60px;
}

.profile-font {
    font-family: "Montserrat", sans-serif
}
.profile-info-name {
    font-size: 1.3rem;
    margin: 0;
}
.profile-info-title {
    font-size: 0.8rem;
    margin-top: -5px;
    margin-bottom: 25px;
    color: #797979;
}

.share-btn {
    margin-top: -25px;
    display: inline-flex;
    padding: 9px 37px;
    border-radius: 10px;
    background-color: #003366;
    color: white;
    font-size: 16px;
    font-family: "Montserrat", sans-serif
}

.share-btn:hover {
    transform: scale(1.1);
    background-color: #0055cc;
}

.border-line {
    border: 1px solid #b9b9b9;
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.share-btn-pic {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.personal-icon {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-right: 15px;
    margin-bottom: 10px;
}

@media (max-width: 345px) {
    .personal-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 225px) {
    .personal-icon {
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 175px) {
    .personal-icon {
        width: 7px;
        height: 7px;
        margin-right: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
}

.info-text {
    margin-top: 0.1%;
    display: inline-flex;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 417px) {
    .info-text {
        margin-top: 0.1%;
        display: inline-flex;
        color: rgb(0, 0, 0);
        font-size: 10px;
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width: 225px) {
    .info-text {
        margin-top: 0.1%;
        display: inline-flex;
        color: rgb(0, 0, 0);
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width: 175px) {
    .info-text {
        margin-top: 0.1%;
        display: inline-flex;
        color: rgb(0, 0, 0);
        font-size: 6px;
        font-family: "Montserrat", sans-serif;
    }
}

.qr-pic {
    width: 150px;
    height: 150px;
    margin-top: 0;
}

.qr-border {
    width: 150px;
    height: 150px;
    border: 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: auto;
    background-color: #003366;
}

.scan-text {
    margin-top: 10px;
    font-size: 15px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 30px;
    margin-top: 5%;
}

nav a{
    display: inline-block;
    padding: 10px 17px;
    color: #003366;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 3px;
    font-size: 16px;
}

@media (max-width: 345px) {
    nav a {
        display: inline-block;
        padding: 5px 10px;
        color: #003366;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        transition: all 0.3s;
        margin-right: 3px;
        font-size: 8px;
    }
}

@media (max-width: 197px) {
    nav a {
        display: inline-block;
        padding: 3px 7px;
        color: #003366;
        font-family: "Montserrat", sans-serif;
        border-radius: 10px;
        transition: all 0.3s;
        margin-right: 3px;
        font-size: 5px;
    }
}

nav a.active {
    background: #003366;
    color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    background: #0261c0;
    color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
</style>

{% endblock %}