{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <style>
        .form-control-center {
            margin: 0 auto;
            width: 250px;
        }
        .centered-input {
        text-align: center;
        }
        .card-custom {
        background-color: #f8f9fa;
        border: 2px solid #007bff;
        border-radius: 0.25rem;
        padding: 1rem;
        max-width: 400px;
        margin: 0 auto;
    }
    </style>

    <div class="container">
        <main>
        <div class="py-5 text-center">
        <div class="col">
            <div class="card-custom mb-4 rounded-3 shadow-sm border-primary">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <form class="form-signin" style="max-width: 400px;">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" class="centered-input form-control form-control-center mb-2" style="width: 350px;" id="inputEmail" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="centered-input form-control form-control-center mb-2" style="width: 350px;" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                </form>
                <div class="text-center mt-3">
                <button class="btn btn-lg btn-primary" type="submit" style="width: 250px;">
                    Sign in
                </button><br><br>
                </div>
            </div>
        </div>
        </main>
    </div>
</form>
{% endblock %}
