{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <main>
    <div class="py-5 text-center">
    </div>
    <div class="row">
        <h3 class="mt-5 mb-5">Create Form</h3>
        <div class="col-md6 offset-md-3">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content,{'attr':{'class':'form-control'}})}}
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-info btn-block text-white">Submit</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    </main>
</div>
    

{% endblock %}
