{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<body>
    <div class="container">
    <main>
    <div class="py-5 text-center">
    <h1>Register</h1>

    <style>
        .form-control-center {
            margin: 0 auto;
            width: 350px;
        }
        .centered-input {
        text-align: center;
        }
    </style>
    
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>  
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.phoneNumber) }}
                    {{ form_widget(registrationForm.phoneNumber, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.image, 'Profile Image') }}
                    {{ form_widget(registrationForm.image, {
                        'attr': {'class': 'form-control form-control-center centered-input'}
                    }) }}
                </div>
                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms, 'I agree to the terms') }}
                </div><br>
        <button class="btn btn-lg btn-primary" type="submit">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </main>
</body>
{% endblock %}
